/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 juin 2021, 14:04:36
    Author     : Claire
*/

body {
    margin: 0% 5%;
}

#ajout {
    margin: 0% 0% 0% 85%;
}

h1 {
    text-align: center;
}

section {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    font-size : 12px;
}


 input {

    margin: 10px;
    width: 80%;
    height: 20px;
}

label {
    display: inline-block;
    margin: 0px 0px 5px 0px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-container > div {
    width: 300px;
    margin: 10px;
}

table {
  width: 100%;
}

th {
  height: 40px;
}
#livre {
  width: 100%;
}
